.vscode/**
.vs/**

Termi-Linux-OpenGL/CMakeFiles
Termi-Linux-OpenGL/cmake_install.cmake
Termi-Linux-OpenGL/CMakeCache.txt
Termi-Linux-OpenGL/Makefile

Termi-Other/Termi-Main/CMakeFiles
Termi-Other/Termi-Main/cmake_install.cmake
Termi-Other/Termi-Main/CMakeCache.txt
Termi-Other/Termi-Main/Makefile

Termi-Other/Termi-GUI/CMakeFiles
Termi-Other/Termi-GUI/cmake_install.cmake
Termi-Other/Termi-GUI/CMakeCache.txt
Termi-Other/Termi-GUI/Makefile
Termi-Other/Termi-GUI/*.o

Termi-Other/Termi-Commands/CMakeFiles
Termi-Other/Termi-Commands/cmake_install.cmake
Termi-Other/Termi-Commands/CMakeCache.txt
Termi-Other/Termi-Commands/Makefile
