.vscode/**
.vs/**

build/

CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

Libraries/

*.so
*.dll
*.dll.manifest
*.exp
*.lib

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

Debug/
Release/
Termi-GUI.dir/
x64/
