*.so
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

.vs/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
Termi-Commands.sln
Termi-Commands.vcxproj
Termi-Commands.vcxproj.filters
Termi-Commands.vcxproj.user
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
Termi-Commands.dll
Termi-Commands.dll.manifest
Termi-Commands.exp
Termi-Commands.lib
Debug/
Release/
Termi-Commands.dir/
x64/
